In [3]:
l1 = [1,2,3,4]
l2 = [3,4,5,6]
#add this two list elementwise

In [1]:
l1 = [1, 2, 3, 4]
l2 = [3, 4, 5, 6]


added_list = [x + y for x, y in zip(l1, l2)]
print(added_list)

[4, 6, 8, 10]

In [ ]:
#Find maximum element combining two list l1 and l2

In [2]:
max_element = max(l1 + l2)
print(max_element)

6

In [4]:
#find common elemnts from list l1 and l2

In [5]:
common_elements = list(set(l1) & set(l2))
print(common_elements)

[3, 4]

In [6]:
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d2 = {'a': 7, 'f': 2, 'g': 55, 'h': "101"}

#find common key from d1 and d2
#find common value from d1 and d2

In [7]:
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d2 = {'a': 7, 'f': 2, 'g': 55, 'h': "101"}

common_keys = list(d1.keys() & d2.keys())
print(common_keys)

['a']

In [8]:
common_values = list(set(d1.values()) & set(d2.values()))
print(common_values)

[2]

In [9]:
#replace the values of d1 to their negatie value

In [10]:
d1_negative = {k: -v for k, v in d1.items()}
print(d1_negative)

{'a': -1, 'b': -2, 'c': -3, 'd': -4}

In [11]:
#replace key to value and value to key in d2

In [12]:
d2_swapped = {v: k for k, v in d2.items()}
print(d2_swapped)

{7: 'a', 2: 'f', 55: 'g', '101': 'h'}